.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1355px;
	height: 3436px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-center-horizontally: true;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
	cursor: default;
}
#vc-ori {
	position: absolute;
	width: 169.725px;
	height: 220.557px;
	left: 110.534px;
	top: 114.859px;
	overflow: visible;
}
#Experence_ {
	left: 546.336px;
	top: 272.51px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#Designation {
	left: 330.324px;
	top: 272.51px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(112,112,112,1);
}
#vinaychaudhari1996gmailcom {
	left: 1088.047px;
	top: 28.543px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#ConnectingDots_Infotech {
	left: 330.324px;
	top: 322.416px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(112,112,112,1);
}
#n__Years {
	left: 543.336px;
	top: 296.181px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Data_Scientist {
	left: 330.324px;
	top: 291.246px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(0,0,0,1);
}
#Python3 {
	left: 854.431px;
	top: 129.854px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Fastai {
	left: 926.75px;
	top: 129.854px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Pycaret {
	left: 833.541px;
	top: 157.124px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Scikitlearn {
	left: 915.788px;
	top: 184.393px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Mongo {
	left: 935.154px;
	top: 244.046px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Docker {
	left: 1054.343px;
	top: 129.854px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#FastAPI {
	left: 986.285px;
	top: 129.854px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#ELK {
	left: 881.701px;
	top: 184.393px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Keras {
	left: 864.231px;
	top: 214.22px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Yolo5 {
	left: 882.553px;
	top: 244.046px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#RasaNLU {
	left: 864.231px;
	top: 273.872px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#GCPAWS {
	left: 1111.662px;
	top: 184.602px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#MLFlow {
	left: 1111.002px;
	top: 158.939px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#OpenCV {
	left: 1131.069px;
	top: 133.276px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#GoogleDialogeFlow {
	left: 926.75px;
	top: 273.872px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Ktrain {
	left: 926.75px;
	top: 157.124px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#AutoGluon {
	left: 999.068px;
	top: 244.046px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Pandas {
	left: 1052.521px;
	top: 184.393px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Vaex_BigData {
	left: 1055.93px;
	top: 273.872px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#TuriCreate_ {
	left: 1064.928px;
	top: 244.046px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Numpy {
	left: 994.381px;
	top: 184.393px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Pytorch {
	left: 927.788px;
	top: 214.22px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Pytorch_Lighthing_Fast {
	left: 985.316px;
	top: 157.124px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Worked_With_ {
	left: 620.209px;
	top: 639.023px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(30,29,29,1);
}
#Projects_and_opensource_contri {
	left: 422px;
	top: 1776px;
	position: absolute;
	overflow: visible;
	width: 449px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(30,29,29,1);
}
#Polygon_9 {
	opacity: 0.984;
	fill: rgba(255,235,60,1);
}
.Polygon_9 {
	overflow: visible;
	position: absolute;
	width: 14.861px;
	height: 12.738px;
	transform: matrix(1,0,0,1,172.5787,1066.156) rotate(191deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_6 {
	opacity: 0.806;
	filter: blur(0.943px);
	fill: rgba(255,235,60,1);
}
.Polygon_6 {
	overflow: visible;
	position: absolute;
	width: 14.082px;
	height: 12.07px;
	transform: matrix(1,0,0,1,1063.6751,94.3998) rotate(98deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_4 {
	opacity: 0.821;
	fill: rgba(255,235,60,1);
}
.Polygon_4 {
	overflow: visible;
	position: absolute;
	width: 11.337px;
	height: 9.717px;
	transform: matrix(1,0,0,1,526.2354,1059.3365) rotate(-69deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_3 {
	opacity: 0.885;
	filter: blur(7px);
	fill: rgba(255,235,60,1);
}
.Polygon_3 {
	overflow: visible;
	position: absolute;
	width: 56.709px;
	height: 47.894px;
	transform: matrix(1,0,0,1,76.0358,311.4688) rotate(164deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Hello_World__Im_Vinay__ {
	left: 330px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	color: rgba(0,0,0,1);
}
#Rectangle_4 {
	fill: rgba(121,142,97,1);
}
.Rectangle_4 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 146.472px;
	height: 55.014px;
	left: 778.942px;
	top: 88.454px;
}
#Rectangle_5 {
	fill: rgba(121,142,97,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 145.716px;
	height: 55.014px;
	left: 827.926px;
	top: 295.005px;
}
#Rectangle_9 {
	fill: rgba(121,142,97,1);
}
.Rectangle_9 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 128.332px;
	height: 55.769px;
	left: 994.381px;
	top: 315.088px;
}
#Rectangle_10 {
	fill: rgba(121,142,97,1);
}
.Rectangle_10 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 166.88px;
	height: 55.014px;
	left: 991.988px;
	top: 90.499px;
}
#Rectangle_8 {
	fill: rgba(121,142,97,1);
}
.Rectangle_8 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 145.716px;
	height: 55.769px;
	left: 1003.337px;
	top: 203.935px;
}
#Rectangle_7 {
	fill: rgba(121,142,97,1);
}
.Rectangle_7 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 146.472px;
	height: 55.014px;
	left: 728.959px;
	top: 207.767px;
}
#Rectangle_6 {
	fill: rgba(121,142,97,1);
}
.Rectangle_6 {
	filter: drop-shadow(0px 2px 7px rgba(121, 142, 97, 0.122));
	position: absolute;
	overflow: visible;
	width: 65.595px;
	height: 55.769px;
	left: 1145.604px;
	top: 273.685px;
}
#Machine_Learning_ {
	left: 793.941px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#NLP_and_NLU {
	left: 852.752px;
	top: 306.551px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Chatbots {
	left: 1019.207px;
	top: 327.39px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#NoCode_AutoAI__Development {
	left: 294.878px;
	top: 992.371px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Regression_ {
	left: 550.121px;
	top: 1000.587px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Object__Detection {
	left: 563.234px;
	top: 1083.137px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Recommendation__Engine {
	left: 986.567px;
	top: 915.606px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Recommendation__Engine_bv {
	left: 881.688px;
	top: 1181.907px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Collaborative__Filtering_ {
	left: 866.677px;
	top: 1027.715px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Scene_Classigfication_ {
	left: 762.997px;
	top: 1000.711px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Content_Based_Filtering_ {
	left: 807.871px;
	top: 1289.957px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Knowledge_Graphs_ {
	left: 911.398px;
	top: 1427.586px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(22,20,19,1);
}
#Entity__Recognition_ {
	left: 789.955px;
	top: 1473.523px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(22,20,19,1);
}
#Intent_Based_Conversational_AI {
	left: 834.112px;
	top: 1573.742px;
	position: absolute;
	overflow: visible;
	width: 152px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(22,20,19,1);
}
#Sematic_Product__Image_Retriev {
	left: 254.704px;
	top: 1375.86px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Product_Title_Matching_ {
	left: 267.892px;
	top: 1479.244px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Metrics_Scoring_ {
	left: 382.93px;
	top: 1527.658px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Quantitative_Sentiment_Analysi {
	left: 463.451px;
	top: 1474.775px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Custom_Similarity_Matching {
	left: 420.482px;
	top: 1403.261px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#NLP {
	left: 1023px;
	top: 1498.31px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(22,20,19,1);
}
#NLU {
	left: 870.06px;
	top: 1456.793px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(22,20,19,1);
}
#Ranking_Factorization__Recomme {
	left: 986.567px;
	top: 1003.183px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Popularity_Based_Custom_Recomm {
	left: 690.112px;
	top: 1181.907px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Item_To_Item_Similarity_Recomm {
	left: 800.842px;
	top: 906.104px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Image__Classification {
	left: 371.67px;
	top: 1104.255px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#OCR {
	left: 479.208px;
	top: 1111.798px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#YOLOv5 {
	left: 314.063px;
	top: 1155.252px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Sematic_Segmentation {
	left: 425.17px;
	top: 1165.863px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Video_Classification {
	left: 382.917px;
	top: 1203.181px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Clustering_ {
	left: 539.451px;
	top: 1035.271px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Topic_Modeling {
	left: 423.624px;
	top: 1008.407px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Classification {
	left: 380.508px;
	top: 954.385px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Regional_Language__Sentiment_A {
	left: 535.067px;
	top: 940px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Recommendation_Engine {
	left: 1000.941px;
	top: 102.045px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Deep_Learning {
	left: 1028.163px;
	top: 216.237px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Computer_Vision {
	left: 754.541px;
	top: 219.313px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#AI {
	left: 1162.902px;
	top: 285.57px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Line_1 {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(255,235,60,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	mix-blend-mode: darken;
	overflow: visible;
	position: absolute;
	width: 46.007px;
	height: 103.356px;
	left: 484.317px;
	top: 254.305px;
	transform: matrix(1,0,0,1,0,0);
}
#iterate {
	position: absolute;
	width: 161.138px;
	height: 57.473px;
	left: 343.779px;
	top: 1022.791px;
	overflow: visible;
}
#cc {
	position: absolute;
	width: 63.017px;
	height: 46.179px;
	left: 880.488px;
	top: 1487.461px;
	overflow: visible;
}
#Circle-K-logo-wordmark {
	position: absolute;
	width: 148.966px;
	height: 39.476px;
	left: 819.415px;
	top: 954.202px;
	overflow: visible;
}
#partycity {
	position: absolute;
	width: 183.973px;
	height: 122.649px;
	left: 321.147px;
	top: 1383.161px;
	overflow: visible;
}
#petsmart {
	position: absolute;
	width: 206.318px;
	height: 137.545px;
	left: 740.838px;
	top: 1180.863px;
	overflow: visible;
}
#purepngcom-plantnatureplant-96 {
	filter: drop-shadow(6px 7px 12px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 187px;
	height: 188px;
	left: 703px;
	top: 554px;
	overflow: visible;
}
#Path_1 {
	opacity: 0.48;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 174.924px;
	height: 76.598px;
	left: 628.1px;
	top: 516px;
	transform: matrix(1,0,0,1,0,0);
}
#spider {
	position: absolute;
	width: 64.591px;
	height: 69.59px;
	left: 607.83px;
	top: 481.205px;
	overflow: visible;
}
#n_I_am_one_of_those_who_prefer {
	transform: matrix(1,0,0,1,613.3748,455.6754) rotate(6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: left;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Rectangle_23 {
	opacity: 0.815;
	fill: rgba(250,212,40,1);
}
.Rectangle_23 {
	width: 12.4px;
	height: 12.4px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,758.8001,2139.5627) rotate(47deg);
	transform-origin: center;
}
#Rectangle_22 {
	opacity: 0.814;
	fill: rgba(250,212,40,1);
}
.Rectangle_22 {
	width: 10.194px;
	height: 10.194px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,918.6118,1101.5611) rotate(199deg);
	transform-origin: center;
}
#Rectangle_21 {
	opacity: 0.868;
	filter: blur(0.296px);
	fill: rgba(250,212,40,1);
}
.Rectangle_21 {
	width: 14.774px;
	height: 14.774px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,678.6705,824.8633) rotate(-10deg);
	transform-origin: center;
}
#Rectangle_20 {
	opacity: 0.972;
	fill: rgba(250,212,40,1);
}
.Rectangle_20 {
	width: 9.145px;
	height: 9.145px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,1050.6737,1742.9279) rotate(210deg);
	transform-origin: center;
}
#Rectangle_19 {
	opacity: 0.989;
	fill: rgba(250,212,40,1);
}
.Rectangle_19 {
	width: 8.48px;
	height: 8.48px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,811.1015,1244.1551) rotate(185deg);
	transform-origin: center;
}
#Rectangle_18 {
	opacity: 0.976;
	fill: rgba(250,212,40,1);
}
.Rectangle_18 {
	width: 9.743px;
	height: 9.743px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,692.0763,344.9856) rotate(123deg);
	transform-origin: center;
}
#Rectangle_17 {
	opacity: 0.869;
	fill: rgba(250,212,40,1);
}
.Rectangle_17 {
	width: 8.387px;
	height: 8.387px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,651.6821,1557.4215) rotate(133deg);
	transform-origin: center;
}
#Rectangle_16 {
	opacity: 0.863;
	fill: rgba(250,212,40,1);
}
.Rectangle_16 {
	width: 11.285px;
	height: 11.285px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,939.1385,883.4096) rotate(193deg);
	transform-origin: center;
}
#Rectangle_15 {
	opacity: 0.846;
	filter: blur(0.252px);
	fill: rgba(250,212,40,1);
}
.Rectangle_15 {
	width: 13.19px;
	height: 13.19px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,659.8516,228.926) rotate(-15deg);
	transform-origin: center;
}
#Rectangle_14 {
	opacity: 0.997;
	filter: blur(0.271px);
	fill: rgba(250,212,40,1);
}
.Rectangle_14 {
	width: 13.899px;
	height: 13.899px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,264.0424,1527.5574) rotate(222deg);
	transform-origin: center;
}
#Rectangle_13 {
	opacity: 0.862;
	fill: rgba(250,212,40,1);
}
.Rectangle_13 {
	width: 11.216px;
	height: 11.216px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,884.6277,1362.351) rotate(230deg);
	transform-origin: center;
}
#Rectangle_12 {
	opacity: 0.86;
	fill: rgba(250,212,40,1);
}
.Rectangle_12 {
	width: 11.766px;
	height: 11.766px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,292.1723,841.1512) rotate(240deg);
	transform-origin: center;
}
#Group_1 {
	position: absolute;
	width: 454px;
	height: 168px;
	left: 211px;
	top: 1933px;
	overflow: visible;
}
#Rectangle_24 {
	fill: rgba(255,255,255,1);
}
.Rectangle_24 {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 469px;
	height: 121px;
	left: 0px;
	top: 26px;
}
#restaurant-order {
	filter: drop-shadow(11px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 168px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 454px;
	height: 168px;
	left: 211px;
	top: 2204px;
	overflow: visible;
}
#Rectangle_24_df {
	fill: rgba(255,255,255,1);
}
.Rectangle_24_df {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 469px;
	height: 121px;
	left: 0px;
	top: 26px;
}
#seq {
	filter: drop-shadow(11px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 168px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_7 {
	position: absolute;
	width: 454px;
	height: 168px;
	left: 203px;
	top: 2496px;
	overflow: visible;
}
#Rectangle_24_di {
	fill: rgba(255,255,255,1);
}
.Rectangle_24_di {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 469px;
	height: 121px;
	left: 0px;
	top: 26px;
}
#n_3n3gl404dsyfwa8rp2w {
	filter: drop-shadow(11px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 168px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_24_dk {
	fill: rgba(255,255,255,1);
}
.Rectangle_24_dk {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 469px;
	height: 121px;
	left: 726px;
	top: 1957px;
}
#Rectangle_25 {
	fill: rgba(255,255,255,1);
}
.Rectangle_25 {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 469px;
	height: 121px;
	left: 726px;
	top: 2228px;
}
#Rectangle_29 {
	fill: rgba(255,255,255,1);
}
.Rectangle_29 {
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 469px;
	height: 121px;
	left: 718px;
	top: 2520px;
}
#cube {
	filter: drop-shadow(11px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 168px;
	left: 726px;
	top: 1930px;
	overflow: visible;
}
#furniture {
	filter: drop-shadow(11px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 168px;
	left: 726px;
	top: 2201px;
	overflow: visible;
}
#sentiment {
	filter: drop-shadow(11px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 141px;
	height: 168px;
	left: 718px;
	top: 2493px;
	overflow: visible;
}
#Business_Problem {
	left: 382px;
	top: 1981px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Business_Problem_dr {
	left: 382px;
	top: 2252px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Business_Problem_ds {
	left: 374px;
	top: 2544px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Business_Problem_dt {
	left: 897px;
	top: 1978px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Business_Problem_du {
	left: 897px;
	top: 2249px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Business_Problem_dv {
	left: 889px;
	top: 2541px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Mobile_ {
	left: 889px;
	top: 2646px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(120,116,116,1);
}
#Battery_ {
	left: 1019.5px;
	top: 2669px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#n_3 {
	left: 1065.833px;
	top: 2669px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#n_0 {
	left: 1065.833px;
	top: 2689px;
	position: absolute;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#n_3_d {
	left: 1065.833px;
	top: 2709px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#n_ {
	left: 1065.833px;
	top: 2729px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#n_15_More {
	left: 627px;
	top: 2824px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(120,116,116,1);
}
#Speaker {
	left: 1019.5px;
	top: 2709px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#Display {
	left: 1019.5px;
	top: 2689px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#Camera {
	left: 1019.5px;
	top: 2729px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(120,116,116,1);
}
#Food_order_waiting_time_predic {
	left: 382px;
	top: 2007px;
	position: absolute;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Malware_detection_using_packet {
	left: 382px;
	top: 2278px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Template_matching_framework {
	left: 374px;
	top: 2570px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#n_D_Roblox_Capcha_Solving_97_A {
	left: 897px;
	top: 1999px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Furniture_classification__for_ {
	left: 897px;
	top: 2272px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#Quantitative_product_sentiment {
	left: 889px;
	top: 2564px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#Rectangle_26 {
	opacity: 0.815;
	fill: rgba(250,212,40,1);
}
.Rectangle_26 {
	width: 12.4px;
	height: 12.4px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,166.4863,2174.5627) rotate(47deg);
	transform-origin: center;
}
#Rectangle_27 {
	fill: rgba(232,66,66,1);
}
.Rectangle_27 {
	filter: drop-shadow(0px 7px 11px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 47px;
	left: 224px;
	top: 1945px;
}
#ML {
	left: 237px;
	top: 1946px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#Rectangle_28 {
	fill: rgba(142,130,249,1);
}
.Rectangle_28 {
	filter: drop-shadow(0px 7px 11px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 47px;
	left: 739px;
	top: 1943px;
}
#CV {
	left: 752px;
	top: 1944px;
	position: absolute;
	overflow: visible;
	width: 14px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#Rectangle_28_eh {
	fill: rgba(142,130,249,1);
}
.Rectangle_28_eh {
	filter: drop-shadow(0px 7px 11px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 47px;
	left: 739px;
	top: 2214px;
}
#CV_ei {
	left: 752px;
	top: 2215px;
	position: absolute;
	overflow: visible;
	width: 14px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#Group_6 {
	position: absolute;
	width: 37px;
	height: 14px;
	left: 731px;
	top: 2506px;
	overflow: visible;
}
#Rectangle_28_ek {
	fill: rgba(232,66,66,1);
}
.Rectangle_28_ek {
	filter: drop-shadow(0px 7px 11px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#NLP_el {
	left: 13px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#Rectangle_28_em {
	fill: rgba(182,216,4,1);
}
.Rectangle_28_em {
	filter: drop-shadow(0px 7px 11px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 47px;
	left: 223px;
	top: 2215px;
}
#DL_ {
	left: 236px;
	top: 2216px;
	position: absolute;
	overflow: visible;
	width: 14px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#Rectangle_28_eo {
	fill: rgba(142,130,249,1);
}
.Rectangle_28_eo {
	filter: drop-shadow(0px 7px 11px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 47px;
	left: 215px;
	top: 2507px;
}
#CV_ep {
	left: 228px;
	top: 2508px;
	position: absolute;
	overflow: visible;
	width: 14px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#Group_8 {
	position: absolute;
	width: 115.167px;
	height: 1px;
	left: 889px;
	top: 2674.5px;
	overflow: visible;
}
#Line_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 94.488px;
	height: 4px;
	left: 24.679px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 28.679px;
	height: 4px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_10 {
	position: absolute;
	width: 115.167px;
	height: 1px;
	left: 889px;
	top: 2714.5px;
	overflow: visible;
}
#Line_3_eu {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_eu {
	overflow: visible;
	position: absolute;
	width: 94.488px;
	height: 4px;
	left: 24.679px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_ev {
	fill: transparent;
	stroke: rgba(255,255,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_ev {
	overflow: visible;
	position: absolute;
	width: 28.679px;
	height: 4px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3_ew {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_ew {
	overflow: visible;
	position: absolute;
	width: 62.667px;
	height: 4px;
	left: 945.5px;
	top: 2694.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_ex {
	fill: transparent;
	stroke: rgba(255,255,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_ex {
	overflow: visible;
	position: absolute;
	width: 60.5px;
	height: 4px;
	left: 889px;
	top: 2694.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3_ey {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3_ey {
	overflow: visible;
	position: absolute;
	width: 105.667px;
	height: 4px;
	left: 902.5px;
	top: 2734.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_ez {
	fill: transparent;
	stroke: rgba(255,255,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_ez {
	overflow: visible;
	position: absolute;
	width: 13.5px;
	height: 4px;
	left: 889px;
	top: 2734.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_30 {
	fill: rgba(248,248,248,1);
}
.Rectangle_30 {
	position: absolute;
	overflow: visible;
	width: 1355px;
	height: 460px;
	left: 0px;
	top: 2976px;
}
#Group_11 {
	position: absolute;
	width: 646px;
	height: 97px;
	left: 381px;
	top: 3204px;
	overflow: visible;
}
#gmail {
	position: absolute;
	width: 107px;
	height: 60px;
	left: 0px;
	top: 20px;
	overflow: visible;
}
#github {
	position: absolute;
	width: 62px;
	height: 63px;
	left: 453px;
	top: 17px;
	overflow: visible;
}
#Medium {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 589px;
	top: 21px;
	overflow: visible;
}
#linkdin {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 182px;
	top: 22px;
	overflow: visible;
}
#stackoverflow {
	position: absolute;
	width: 98px;
	height: 97px;
	left: 290px;
	top: 0px;
	overflow: visible;
}
#n_Why_not_to_discuss_in_detail {
	left: 494px;
	top: 3114px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(30,29,29,1);
}
#github_e {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 230.396px;
	top: 415.557px;
	overflow: visible;
}
#Medium_e {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 274.396px;
	top: 415.557px;
	overflow: visible;
}
#linkdin_fa {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 148.396px;
	top: 416.557px;
	overflow: visible;
}
#stackoverflow_fb {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 184.396px;
	top: 411.557px;
	overflow: visible;
}
#gmail_fc {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 96.396px;
	top: 416.557px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(0,0,0,1);
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 56px;
	height: 15px;
	left: 478px;
	top: 2545px;
}
#Open_Souce {
	left: 488px;
	top: 2548px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 6px;
	color: rgba(255,255,255,1);
}
#gmail_ff {
	position: absolute;
	width: 34px;
	height: 20px;
	left: 1045.75px;
	top: 26.557px;
	overflow: visible;
}