.mediaViewInfo {
	--web-view-name: Resume -1 – 1;
	--web-view-id: Resume_-1__1;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Resume_-1__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Resume_-1__1_Class {
	position: absolute;
	width: 1226px;
	height: 4787px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Resume -1 – 1;
	--web-view-id: Resume_-1__1;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
.Group_21_Class {
	position: absolute;
	width: 1226px;
	height: 4793.333px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_1_Class {
	fill: rgba(40,41,38,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1226px;
	height: 4793.333px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID2021_Class {
	left: 197px;
	top: 2129px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.ID2020_Class {
	left: 197px;
	top: 2616px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.ID2020_k_Class {
	left: 616px;
	top: 2128px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.ID2020_l_Class {
	left: 616px;
	top: 2615px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.A_Problem_Solver___Class {
	left: 206px;
	top: 433px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: lighter;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
.Development_of_Machine_learnin_Class {
	left: 197px;
	top: 2188px;
	position: absolute;
	overflow: visible;
	width: 246px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Development_of_drag_and_drop_D_Class {
	left: 616px;
	top: 2188px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Development_of_personalised_Re_Class {
	left: 616px;
	top: 2675px;
	position: absolute;
	overflow: visible;
	width: 547px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Development_of_Most_similar_or_Class {
	left: 197px;
	top: 2675px;
	position: absolute;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_EDA_Data_clean_Class {
	left: 197px;
	top: 2254px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Developing_applied_AUTOML_node_Class {
	left: 351px;
	top: 2254px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_Model_selectio_Class {
	left: 616px;
	top: 2254px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_Model_selectio_u_Class {
	left: 616px;
	top: 2741px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_Model_selectio_v_Class {
	left: 197px;
	top: 2741px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Iterateai_Class {
	opacity: 0.34;
	left: 254px;
	top: 2139px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Petsmart_Class {
	opacity: 0.34;
	left: 254px;
	top: 2626px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Iterateai_y_Class {
	opacity: 0.34;
	left: 673px;
	top: 2138px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.CircleK__Class {
	opacity: 0.34;
	left: 673px;
	top: 2625px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Group_10_Class {
	position: absolute;
	width: 205px;
	height: 99px;
	left: 911px;
	top: 268px;
	overflow: visible;
}
.Group_3_Class {
	position: absolute;
	width: 201px;
	height: 99px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2_Class {
	fill: rgba(68,63,63,1);
}
.Rectangle_2 {
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 114px;
	left: 0px;
	top: 0px;
}
.ID2018-2019_Class {
	left: 15px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.Jr_Data_Scientist_Class {
	left: 15px;
	top: 53px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Maxgen_Technology_Class {
	opacity: 0.34;
	left: 15px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
.Rectangle_5_Class {
	fill: rgba(37,241,79,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 7px;
	height: 99px;
	left: 0px;
	top: 0px;
}
.Group_9_Class {
	position: absolute;
	width: 205px;
	height: 99px;
	left: 911px;
	top: 370px;
	overflow: visible;
}
.Group_4_Class {
	position: absolute;
	width: 201px;
	height: 99px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2__Class {
	fill: rgba(68,63,63,1);
}
.Rectangle_2_ {
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 114px;
	left: 0px;
	top: 0px;
}
.ID2018_Class {
	left: 15px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.Big_data_and_ML_Intern_Class {
	left: 15px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Radical_Technology_Class {
	opacity: 0.34;
	left: 15px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
.Rectangle_6_Class {
	fill: rgba(37,241,79,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 7px;
	height: 99px;
	left: 0px;
	top: 0px;
}
.Group_8_Class {
	position: absolute;
	width: 205px;
	height: 99px;
	left: 911px;
	top: 472px;
	overflow: visible;
}
.Group_6_Class {
	position: absolute;
	width: 201px;
	height: 99px;
	left: 4px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2_bg_Class {
	fill: rgba(68,63,63,1);
}
.Rectangle_2_bg {
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 114px;
	left: 0px;
	top: 0px;
}
.ID2017_Class {
	left: 15px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
.Datascience__HCD__UX_Class {
	left: 15px;
	top: 52px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Freelancer_Consultant__Class {
	opacity: 0.34;
	left: 15px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
.Rectangle_12_Class {
	fill: rgba(37,241,79,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 7px;
	height: 99px;
	left: 0px;
	top: 0px;
}
._Work_Experience_Class {
	left: 104px;
	top: 1115px;
	position: absolute;
	overflow: visible;
	width: 308px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.Rectangle_8_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_8 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 197px;
	top: 2424px;
}
.Rectangle_9_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_9 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 616px;
	top: 2423px;
}
.Rectangle_10_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 616px;
	top: 2891px;
}
.Rectangle_11_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_11 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 197px;
	top: 2891px;
}
.Scikit_learn__Class {
	left: 228px;
	top: 2437px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Fastai_v1__Class {
	left: 647px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Turicreate_Class {
	left: 647px;
	top: 2904px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Turicreate_bt_Class {
	left: 228px;
	top: 2904px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pycaret_Class {
	left: 302px;
	top: 2438px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pytorch_Class {
	left: 721px;
	top: 2437px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_Class {
	left: 364px;
	top: 2437px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_bx_Class {
	left: 783px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_by_Class {
	left: 721px;
	top: 2904px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_bz_Class {
	left: 302px;
	top: 2904px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_Class {
	left: 422px;
	top: 2437px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_b_Class {
	left: 841px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_ca_Class {
	left: 791px;
	top: 2904px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_cb_Class {
	left: 372px;
	top: 2904px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Numpy_Class {
	left: 228px;
	top: 2454px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Numpy_b_Class {
	left: 647px;
	top: 2453px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Numpy_ca_Class {
	left: 647px;
	top: 2921px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Numpy_cb_Class {
	left: 228px;
	top: 2921px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Nodered_Class {
	left: 302px;
	top: 2455px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Nodered_b_Class {
	left: 721px;
	top: 2454px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Nodered_ca_Class {
	left: 721px;
	top: 2922px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Nodered_cb_Class {
	left: 302px;
	top: 2922px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.ML_Class {
	opacity: 0.05;
	left: 188px;
	top: 2060px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 107px;
	color: rgba(255,255,255,1);
}
.Recommendation_Class {
	opacity: 0.05;
	left: 197px;
	top: 2571px;
	position: absolute;
	overflow: visible;
	width: 344px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.Group_11_Class {
	position: absolute;
	width: 325px;
	height: 370px;
	left: 193px;
	top: 3026px;
	overflow: visible;
}
.ID2020_cf_Class {
	left: 4px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Development_of_Intent_and_Enti_Class {
	left: 4px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_Data_Preparati_Class {
	left: 4px;
	top: 162px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.COCO_Channel_Class {
	opacity: 0.34;
	left: 61px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Rectangle_13_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_13 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 4px;
	top: 312px;
}
.RASA_Class {
	left: 35px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_cl_Class {
	left: 109px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_cm_Class {
	left: 179px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.RASA-NLU_Class {
	left: 35px;
	top: 342px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Nodered_co_Class {
	left: 109px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Chatbots_Class {
	opacity: 0.05;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.ID2020_cq_Class {
	left: 620px;
	top: 3071px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.ID2018_cr_Class {
	left: 624px;
	top: 3542px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.ID2019-2020_Class {
	left: 201px;
	top: 3542px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Development_of_Intent_and_Enti_ct_Class {
	left: 620px;
	top: 3122px;
	position: absolute;
	overflow: visible;
	width: 377px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Development_of_Automl__Data_Vi_Class {
	left: 624px;
	top: 3593px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Development_of_Interateai_s__P_Class {
	left: 201px;
	top: 3593px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_Google_Dialogu_Class {
	left: 620px;
	top: 3188px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Data_collection_Data_Scrapping_Class {
	left: 201px;
	top: 3659px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Iterateai_cy_Class {
	opacity: 0.34;
	left: 677px;
	top: 3081px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Maxgen_Technology_cz_Class {
	opacity: 0.34;
	left: 681px;
	top: 3552px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Partycity_Class {
	opacity: 0.34;
	left: 317px;
	top: 3550px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
.Rectangle_13_c_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_13_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 620px;
	top: 3338px;
}
.Rectangle_17_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_17 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 624px;
	top: 3809px;
}
.Rectangle_14_Class {
	fill: rgba(48,155,70,1);
}
.Rectangle_14 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 76px;
	left: 201px;
	top: 3809px;
}
.RASA_c_Class {
	left: 651px;
	top: 3351px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.TF-IDF_Class {
	left: 232px;
	top: 3828px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_c_Class {
	left: 725px;
	top: 3351px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_da_Class {
	left: 679px;
	top: 3823px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Deep_Learning_Class {
	left: 306px;
	top: 3828px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_c_Class {
	left: 795px;
	top: 3351px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Pandas_da_Class {
	left: 768px;
	top: 3822px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Python_db_Class {
	left: 421px;
	top: 3828px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Google_Dialogue_Flow_Class {
	left: 796px;
	top: 3369px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.AUTO-ML_Class {
	left: 850px;
	top: 3821px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.RASA-NLU_de_Class {
	left: 651px;
	top: 3368px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Nodered_df_Class {
	left: 725px;
	top: 3369px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Flask_Class {
	left: 679px;
	top: 3841px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Arima_Class {
	left: 768px;
	top: 3840px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Keras_Class {
	left: 850px;
	top: 3841px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Chatbots_dj_Class {
	opacity: 0.05;
	left: 616px;
	top: 3026px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.AutoML_Class {
	opacity: 0.05;
	left: 622px;
	top: 3496px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.Products_CompareAI__Class {
	opacity: 0.05;
	left: 197px;
	top: 3497px;
	position: absolute;
	overflow: visible;
	width: 411px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.Recommendation_dm_Class {
	opacity: 0.05;
	left: 618px;
	top: 2569px;
	position: absolute;
	overflow: visible;
	width: 344px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.Engine_Class {
	opacity: 0.05;
	left: 402px;
	top: 2613px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.Engine_do_Class {
	opacity: 0.05;
	left: 823px;
	top: 2611px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(255,255,255,1);
}
.DL_Class {
	opacity: 0.05;
	left: 605px;
	top: 2060px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 107px;
	color: rgba(255,255,255,1);
}
.Group_7_Class {
	position: absolute;
	width: 540px;
	height: 176px;
	left: 155px;
	top: 151px;
	overflow: visible;
}
.__Hello_World_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.Jr_Data_Scientist__Class {
	left: 52px;
	top: 143px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.Im_Vinay_Chaudhari_Class {
	left: 52px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 489px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 49px;
	color: rgba(255,255,255,1);
}
.Group_5_Class {
	position: absolute;
	width: 225px;
	height: 126px;
	left: 891px;
	top: 138px;
	overflow: visible;
}
.Rectangle_2_dw_Class {
	fill: url(#Rectangle_2_dw);
}
.Rectangle_2_dw {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.459));
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 172.5px;
	left: 8px;
	top: 0px;
}
.ID2019-Present_Class {
	left: 23px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
.Jr_Data_Scientist_dy_Class {
	left: 23px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.CDI_Class {
	opacity: 0.34;
	left: 23px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Rectangle_4_Class {
	fill: rgba(220,255,35,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 126px;
	left: 0px;
	top: 0px;
}
._Education_Class {
	left: 104px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.Data_collection_EDA_Data_clean_d_Class {
	left: 636px;
	top: 3652px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Developing_applied_AUTOML_reay_Class {
	left: 768px;
	top: 3652px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
.Why_should_you_hire_me__Class {
	left: 112px;
	top: 4008px;
	position: absolute;
	overflow: visible;
	width: 418px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.I_am_one_of_those_who_prefer_e_Class {
	left: 383px;
	top: 4274px;
	position: absolute;
	overflow: visible;
	width: 461px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
.Email___Vinaychaudhari1996gmai_Class {
	left: 451px;
	top: 4604px;
	position: absolute;
	overflow: visible;
	width: 325px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.vinaychaudhari1996gmailcom___Class {
	left: 205px;
	top: 343px;
	position: absolute;
	overflow: visible;
	width: 265px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(162,162,162,1);
}
.Group_19_Class {
	position: absolute;
	width: 898px;
	height: 102px;
	left: 177px;
	top: 864px;
	overflow: visible;
}
.ID2018_Pune_University__India__Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Grade__Class {
	left: 191px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID78__Class {
	opacity: 0.46;
	left: 191px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,222,222,1);
}
.Bachler_of_Engineering__Inform_Class {
	left: 0px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
.ID2014_Nasik_Board__India__Class {
	left: 321px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Grade__ee_Class {
	left: 512px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID81__Class {
	opacity: 0.46;
	left: 512px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,222,222,1);
}
.ID12th_Science_Physics__Chemis_Class {
	left: 321px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
.ID2012_Nasik_Board__India__Class {
	left: 640px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Grade__ei_Class {
	left: 831px;
	top: 5px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.ID86__Class {
	opacity: 0.46;
	left: 831px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,222,222,1);
}
.ID10th_SGS_High_School_Class {
	left: 640px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
.Line_1_Class {
	fill: transparent;
	stroke: rgba(206,255,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 223px;
	height: 3px;
	left: 0.5px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_2_Class {
	fill: transparent;
	stroke: rgba(122,129,94,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 654px;
	height: 3px;
	left: 223.5px;
	top: 39.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_3_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 490px;
	height: 1px;
	left: 205.5px;
	top: 477.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_19_ep_Class {
	fill: url(#Rectangle_19_ep);
}
.Rectangle_19_ep {
	position: absolute;
	overflow: visible;
	width: 417px;
	height: 16px;
	left: 205px;
	top: 469px;
}
.Line_4_Class {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 490px;
	height: 1px;
	left: 205.5px;
	top: 477.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_20_Class {
	fill: rgba(189,255,33,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 417px;
	height: 16px;
	left: 205px;
	top: 469px;
}
.Group_20_Class {
	position: absolute;
	width: 582px;
	height: 203px;
	left: 294px;
	top: 1261px;
	overflow: visible;
}
.ID1__Class {
	opacity: 0.46;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID5_Class {
	opacity: 0.46;
	left: 303px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID2_Class {
	opacity: 0.46;
	left: 0px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID6_Class {
	opacity: 0.46;
	left: 303px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID3__Class {
	opacity: 0.46;
	left: 0px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID7_Class {
	opacity: 0.46;
	left: 303px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID4_Class {
	opacity: 0.46;
	left: 0px;
	top: 167px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.ID8__Class {
	opacity: 0.46;
	left: 303px;
	top: 167px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.Business_problem_specification_Class {
	left: 37px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Validation_and_experimentation_Class {
	left: 340px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Identification_of_data_need_Class {
	left: 37px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Production_releases__Class {
	left: 340px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Methodology_selection_Class {
	left: 37px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Maintenance__Class {
	left: 340px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Proof_of_concept_Class {
	left: 37px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Iteration_Class {
	left: 340px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Path_2_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 0px;
	top: 21.5px;
	transform: matrix(1,0,0,1,0,0);
}
.ID1__fa_Class {
	opacity: 0.46;
	left: 334px;
	top: 1614px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.So__Who_I_am__Class {
	left: 278px;
	top: 1560px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Given_INPUT__Class {
	left: 334px;
	top: 1650px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Group_22_Class {
	position: absolute;
	width: 154px;
	height: 68px;
	left: 828px;
	top: 1785px;
	overflow: visible;
}
.ID2_fe_Class {
	opacity: 0.46;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,222,222,1);
}
.Expected__Output_Class {
	left: 0px;
	top: 43px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
.Im_the_one_who_loves_to_find_t_Class {
	left: 477px;
	top: 1885px;
	position: absolute;
	overflow: visible;
	width: 294px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
.Path_3_Class {
	fill: transparent;
	stroke: rgba(255,255,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_3 {
	filter: drop-shadow(0px 3px 28px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 314px;
	height: 225.667px;
	left: 476.5px;
	top: 1643.667px;
	transform: matrix(1,0,0,1,0,0);
}