.mediaViewInfo {
	--web-view-name: Resume -1 – 1;
	--web-view-id: Resume_-1__1;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Resume_-1__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Resume_-1__1_Class {
	position: absolute;
	width: 1226px;
	height: 5963px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Resume -1 – 1;
	--web-view-id: Resume_-1__1;
	--web-refresh-for-changes: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
.Group_21_Class {
	position: absolute;
	width: 1226px;
	height: 5966px;
	left: 0px;
	top: -3px;
	overflow: visible;
}
.Path_1_Class {
	fill: rgba(232,227,227,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1226px;
	height: 5966px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
._Work_Experience_Class {
	left: 130px;
	top: 1175px;
	position: absolute;
	overflow: visible;
	width: 308px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
._Education_Class {
	left: 130px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.Why_should_you_hire_me__Class {
	left: 130px;
	top: 5321px;
	position: absolute;
	overflow: visible;
	width: 418px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
._Personal_Projects_Class {
	left: 130px;
	top: 4084px;
	position: absolute;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 33px;
	color: rgba(255,255,255,1);
}
.Rectangle_21_Class {
	fill: rgba(135,171,227,1);
}
.Rectangle_21 {
	filter: drop-shadow(0px 24px 42px rgba(0, 0, 0, 0.129));
	position: absolute;
	overflow: visible;
	width: 1058px;
	height: 556px;
	left: -138px;
	top: 68px;
}
.__Hello_World_Class {
	left: 67px;
	top: 131px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.Jr_Data_Scientist__Class {
	left: 118px;
	top: 275px;
	position: absolute;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
.Im_Vinay_Chaudhari_Class {
	left: 118px;
	top: 192px;
	position: absolute;
	overflow: visible;
	width: 496px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 49px;
	color: rgba(255,255,255,1);
}
.vinaychaudhari1996gmailcom___Class {
	left: 118px;
	top: 377px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Group_25_Class {
	position: absolute;
	width: 260px;
	height: 117px;
	left: 876px;
	top: 68px;
	overflow: visible;
}
.Rectangle_2_Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_2 {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 163.5px;
	left: 0px;
	top: 0px;
}
.ID2019-Present_Pune_India_Class {
	left: 56px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(207,194,194,1);
}
.Jr_Data_Scientist_Class {
	left: 56px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(93,87,87,1);
}
._CDI_Class {
	left: 27px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
.Line_5_Class {
	opacity: 0.05;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 180px;
	height: 1px;
	left: 56.5px;
	top: 71.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_26_Class {
	position: absolute;
	width: 260px;
	height: 117px;
	left: 876px;
	top: 230px;
	overflow: visible;
}
.Rectangle_2_y_Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_2_y {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 163.5px;
	left: 0px;
	top: 0px;
}
.ID2018-2019_Pune_India_Class {
	left: 56px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(207,194,194,1);
}
.Jr_Data_Scientist_ba_Class {
	left: 56px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(93,87,87,1);
}
._Maxgen_Technology_Class {
	left: 27px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
.Line_5__Class {
	opacity: 0.05;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_ {
	overflow: visible;
	position: absolute;
	width: 180px;
	height: 1px;
	left: 56.5px;
	top: 71.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_27_Class {
	position: absolute;
	width: 260px;
	height: 117px;
	left: 876px;
	top: 392px;
	overflow: visible;
}
.Rectangle_2__Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_2_ {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 163.5px;
	left: 0px;
	top: 0px;
}
.ID2018_Pune_India_Class {
	left: 56px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(207,194,194,1);
}
.Big_Data_intern__Class {
	left: 56px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(93,87,87,1);
}
._Radical_Technology_Class {
	left: 27px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
.Line_5_ba_Class {
	opacity: 0.05;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_ba {
	overflow: visible;
	position: absolute;
	width: 180px;
	height: 1px;
	left: 56.5px;
	top: 71.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_2_ba_Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_2_ba {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 1051px;
	height: 299.5px;
	left: 130px;
	top: 811px;
}
.Rectangle_22_Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_22 {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 1051px;
	height: 800.5px;
	left: 130px;
	top: 1268px;
}
.Rectangle_23_Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_23 {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 1051px;
	height: 1965.5px;
	left: 130px;
	top: 2059px;
}
.Rectangle_25_Class {
	fill: rgba(135,171,227,1);
}
.Rectangle_25 {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 1051px;
	height: 1019.5px;
	left: 130px;
	top: 4171px;
}
.Ellipse_3_Class {
	fill: rgba(251,207,207,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 1136px;
	top: 49px;
}
.Ellipse_4_Class {
	fill: rgba(249,133,133,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 7px;
	height: 7px;
	left: 1145px;
	top: 58px;
}
.ID2018_Pune_University__India__Class {
	opacity: 0.63;
	left: 189px;
	top: 863px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(141,112,112,1);
}
.ID2014_Nasik_Board__India__Class {
	opacity: 0.63;
	left: 533px;
	top: 863px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(141,112,112,1);
}
.ID2018_Pune_University__India__bh_Class {
	opacity: 0.63;
	left: 877px;
	top: 863px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(141,112,112,1);
}
.Grade__Class {
	left: 189px;
	top: 962px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(165,145,145,1);
}
.Grade__bj_Class {
	left: 533px;
	top: 962px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(165,145,145,1);
}
.Grade__bk_Class {
	left: 877px;
	top: 962px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(165,145,145,1);
}
.ID78__Class {
	left: 189px;
	top: 980px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.ID81__Class {
	left: 533px;
	top: 980px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.ID86__Class {
	left: 877px;
	top: 980px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
.Bachler_of_Engineering__Inform_Class {
	left: 189px;
	top: 885px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
.ID12th_Science_Physics-Chemist_Class {
	left: 533px;
	top: 885px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
.ID10th___Sanskrit_Class {
	left: 877px;
	top: 885px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
.Group_20_Class {
	position: absolute;
	width: 582px;
	height: 203px;
	left: 340px;
	top: 1367px;
	overflow: visible;
}
.ID1__Class {
	opacity: 0.46;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID5_Class {
	opacity: 0.46;
	left: 303px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID2_Class {
	opacity: 0.46;
	left: 0px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID6_Class {
	opacity: 0.46;
	left: 303px;
	top: 56px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID3__Class {
	opacity: 0.46;
	left: 0px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID7_Class {
	opacity: 0.46;
	left: 303px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID4_Class {
	opacity: 0.46;
	left: 0px;
	top: 167px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.ID8__Class {
	opacity: 0.46;
	left: 303px;
	top: 167px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,0,0,1);
}
.Business_problem_specification_Class {
	left: 37px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Validation_and_experimentation_Class {
	left: 340px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Identification_of_data_need_Class {
	left: 37px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Production_releases__Class {
	left: 340px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Methodology_selection_Class {
	left: 37px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Maintenance__Class {
	left: 340px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Proof_of_concept_Class {
	left: 37px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Iteration_Class {
	left: 340px;
	top: 178px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Path_2_Class {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 0px;
	top: 21.5px;
	transform: matrix(1,0,0,1,0,0);
}
.ID1__b_Class {
	opacity: 0.46;
	left: 387px;
	top: 1703px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,222,222,1);
}
.So__Who_I_am__Class {
	left: 340px;
	top: 1658px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Given_INPUT__Class {
	left: 387px;
	top: 1733px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
.Group_22_Class {
	position: absolute;
	width: 128px;
	height: 57px;
	left: 798px;
	top: 1845px;
	overflow: visible;
}
.ID2_cd_Class {
	opacity: 0.46;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 14px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.Expected__Output_Class {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
.Im_the_one_who_loves_to_find_t_Class {
	left: 506px;
	top: 1928px;
	position: absolute;
	overflow: visible;
	width: 231px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
.Path_3_Class {
	fill: transparent;
	stroke: rgba(145,148,219,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_3 {
	filter: drop-shadow(0px 3px 28px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 275.597px;
	height: 202.361px;
	left: 505.139px;
	top: 1727.605px;
	transform: matrix(1,0,0,1,0,0);
}
.ID2021_Class {
	left: 197px;
	top: 2129px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.ID2020_Class {
	left: 197px;
	top: 2616px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.ID2020_cj_Class {
	left: 616px;
	top: 2128px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.ID2020_ck_Class {
	left: 616px;
	top: 2615px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.Development_of_Machine_learnin_Class {
	left: 197px;
	top: 2188px;
	position: absolute;
	overflow: visible;
	width: 246px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Development_of_drag_and_drop_D_Class {
	left: 616px;
	top: 2188px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Development_of_personalised_Re_Class {
	left: 616px;
	top: 2675px;
	position: absolute;
	overflow: visible;
	width: 503px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Development_of_Most_similar_or_Class {
	left: 197px;
	top: 2675px;
	position: absolute;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_EDA_Data_clean_Class {
	left: 197px;
	top: 2254px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Developing_applied_AUTOML_node_Class {
	left: 351px;
	top: 2254px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_Model_selectio_Class {
	left: 616px;
	top: 2254px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_Model_selectio_cs_Class {
	left: 616px;
	top: 2741px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_Model_selectio_ct_Class {
	left: 197px;
	top: 2741px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Scikit_learn__Class {
	left: 197px;
	top: 2435px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Fastai_v1__Class {
	left: 614px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Turicreate_Class {
	left: 618px;
	top: 2905px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Turicreate_cx_Class {
	left: 197px;
	top: 2906px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pycaret_Class {
	left: 271px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pytorch_Class {
	left: 688px;
	top: 2437px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_Class {
	left: 333px;
	top: 2435px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_c_Class {
	left: 750px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_da_Class {
	left: 692px;
	top: 2905px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_db_Class {
	left: 271px;
	top: 2906px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_Class {
	left: 391px;
	top: 2435px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_c_Class {
	left: 808px;
	top: 2436px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_da_Class {
	left: 762px;
	top: 2905px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_db_Class {
	left: 341px;
	top: 2906px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Numpy_Class {
	left: 197px;
	top: 2452px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Numpy_c_Class {
	left: 614px;
	top: 2453px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Numpy_da_Class {
	left: 618px;
	top: 2922px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Numpy_db_Class {
	left: 197px;
	top: 2923px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Nodered_Class {
	left: 271px;
	top: 2453px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Nodered_dd_Class {
	left: 688px;
	top: 2454px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Nodered_de_Class {
	left: 692px;
	top: 2923px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Nodered_df_Class {
	left: 271px;
	top: 2924px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.ML_Class {
	opacity: 0.05;
	left: 187px;
	top: 2059px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 107px;
	color: rgba(0,0,0,1);
}
.Recommendation_Class {
	opacity: 0.05;
	left: 197px;
	top: 2571px;
	position: absolute;
	overflow: visible;
	width: 344px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.ID2020_di_Class {
	left: 197px;
	top: 3071px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.Development_of_Intent_and_Enti_Class {
	left: 197px;
	top: 3122px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_Data_Preparati_Class {
	left: 197px;
	top: 3188px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.RASA_Class {
	left: 197px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_dm_Class {
	left: 271px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_dn_Class {
	left: 341px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.RASA-NLU_Class {
	left: 197px;
	top: 3366px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Nodered_dp_Class {
	left: 271px;
	top: 3367px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Chatbots_Class {
	opacity: 0.05;
	left: 193px;
	top: 3026px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.ID2020_dr_Class {
	left: 620px;
	top: 3071px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.ID2018_Class {
	left: 624px;
	top: 3542px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.ID2019-2020_Class {
	left: 201px;
	top: 3542px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
.Development_of_Intent_and_Enti_du_Class {
	left: 620px;
	top: 3122px;
	position: absolute;
	overflow: visible;
	width: 377px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Development_of_Automl__Data_Vi_Class {
	left: 624px;
	top: 3593px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Development_of_Interateai_s__P_Class {
	left: 201px;
	top: 3593px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_Google_Dialogu_Class {
	left: 620px;
	top: 3188px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Data_collection_Data_Scrapping_Class {
	left: 201px;
	top: 3659px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.RASA_dz_Class {
	left: 620px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.TF-IDF_Class {
	left: 201px;
	top: 3833px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_d_Class {
	left: 694px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_ea_Class {
	left: 627px;
	top: 3833px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Deep_Learning_Class {
	left: 275px;
	top: 3833px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_d_Class {
	left: 764px;
	top: 3349px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Pandas_ea_Class {
	left: 716px;
	top: 3832px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Python_eb_Class {
	left: 390px;
	top: 3833px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Google_Dialogue_Flow_Class {
	left: 765px;
	top: 3367px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.AUTO-ML_Class {
	left: 798px;
	top: 3831px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.RASA-NLU_d_Class {
	left: 620px;
	top: 3366px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Nodered_ea_Class {
	left: 694px;
	top: 3367px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Flask_Class {
	left: 627px;
	top: 3851px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Arima_Class {
	left: 716px;
	top: 3850px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Keras_Class {
	left: 798px;
	top: 3851px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(46,0,239,1);
}
.Chatbots_ee_Class {
	opacity: 0.05;
	left: 616px;
	top: 3026px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.AutoML_Class {
	opacity: 0.05;
	left: 622px;
	top: 3496px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.Products_CompareAI__Class {
	opacity: 0.05;
	left: 197px;
	top: 3497px;
	position: absolute;
	overflow: visible;
	width: 411px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.Recommendation_eh_Class {
	opacity: 0.05;
	left: 618px;
	top: 2569px;
	position: absolute;
	overflow: visible;
	width: 344px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.Engine_Class {
	opacity: 0.05;
	left: 402px;
	top: 2613px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.Engine_ej_Class {
	opacity: 0.05;
	left: 823px;
	top: 2611px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(0,0,0,1);
}
.DL_Class {
	opacity: 0.05;
	left: 605px;
	top: 2060px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 107px;
	color: rgba(0,0,0,1);
}
.Data_collection_EDA_Data_clean_el_Class {
	left: 626px;
	top: 3652px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Developing_applied_AUTOML_reay_Class {
	left: 758px;
	top: 3652px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Apercu;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
.Group_28_Class {
	position: absolute;
	width: 91px;
	height: 31px;
	left: 317px;
	top: 3546px;
	overflow: visible;
}
.Rectangle_24_ep_Class {
	fill: url(#Rectangle_24_ep);
}
.Rectangle_24_ep {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Partycity_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_29_Class {
	position: absolute;
	width: 120px;
	height: 31px;
	left: 682px;
	top: 3546px;
	overflow: visible;
}
.Rectangle_24_et_Class {
	fill: url(#Rectangle_24_et);
}
.Rectangle_24_et {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 174px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Maxgen_Teach_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_30_Class {
	position: absolute;
	width: 91px;
	height: 31px;
	left: 317px;
	top: 3546px;
	overflow: visible;
}
.Rectangle_24_ex_Class {
	fill: url(#Rectangle_24_ex);
}
.Rectangle_24_ex {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Partycity_ey_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_31_Class {
	position: absolute;
	width: 124px;
	height: 31px;
	left: 261px;
	top: 3075px;
	overflow: visible;
}
.Rectangle_24_fa_Class {
	fill: url(#Rectangle_24_fa);
}
.Rectangle_24_fa {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.COCO_Channel_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_32_Class {
	position: absolute;
	width: 94px;
	height: 31px;
	left: 684px;
	top: 3075px;
	overflow: visible;
}
.Rectangle_24_fc_Class {
	fill: url(#Rectangle_24_fc);
}
.Rectangle_24_fc {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Iterateai_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_33_Class {
	position: absolute;
	width: 94px;
	height: 31px;
	left: 257px;
	top: 2622px;
	overflow: visible;
}
.Rectangle_24_fe_Class {
	fill: url(#Rectangle_24_fe);
}
.Rectangle_24_fe {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Petsmart_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_34_Class {
	position: absolute;
	width: 94px;
	height: 31px;
	left: 676px;
	top: 2622px;
	overflow: visible;
}
.Rectangle_24_fg_Class {
	fill: url(#Rectangle_24_fg);
}
.Rectangle_24_fg {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Circle_K__Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_35_Class {
	position: absolute;
	width: 94px;
	height: 31px;
	left: 259px;
	top: 2133px;
	overflow: visible;
}
.Rectangle_24_fi_Class {
	fill: url(#Rectangle_24_fi);
}
.Rectangle_24_fi {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Iterateai_fi_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.Group_36_Class {
	position: absolute;
	width: 94px;
	height: 31px;
	left: 688px;
	top: 2133px;
	overflow: visible;
}
.Rectangle_24_fl_Class {
	fill: url(#Rectangle_24_fl);
}
.Rectangle_24_fl {
	filter: drop-shadow(8px 9px 18px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 85px;
	left: 0px;
	top: 0px;
}
.Iterateai_fm_Class {
	left: 23px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
.eye_Class {
	filter: drop-shadow(0px 11px 47px rgba(27, 142, 222, 0.702));
	position: absolute;
	width: 88px;
	height: 88px;
	left: 202px;
	top: 4369px;
	overflow: visible;
}
.Bot_Class {
	filter: drop-shadow(0px 11px 47px rgba(71, 197, 248, 1));
	position: absolute;
	width: 88px;
	height: 88px;
	left: 704px;
	top: 4369px;
	overflow: visible;
}
.Computer_Vision__Class {
	left: 312px;
	top: 4384px;
	position: absolute;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Cognitive_Conversational_Class {
	left: 814px;
	top: 4385px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.And_Deep_Learning__Class {
	left: 312px;
	top: 4413px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Bots_and_Agents_Class {
	left: 814px;
	top: 4414px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
.Capcha_Solver___Skin_Cancer_Cl_Class {
	left: 202px;
	top: 4552px;
	position: absolute;
	overflow: visible;
	width: 314px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.Jarvis_personal_AI__Stackoverf_Class {
	left: 704px;
	top: 4552px;
	position: absolute;
	overflow: visible;
	width: 339px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.Why_not_discuss_in_detail__Class {
	left: 507px;
	top: 5053px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: italic;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
.Rectangle_26_Class {
	fill: rgba(252,247,244,1);
}
.Rectangle_26 {
	filter: drop-shadow(0px 24px 15px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 1051px;
	height: 528.5px;
	left: 130px;
	top: 5402px;
}
.I_am_one_of_those_who_prefer_e_Class {
	left: 403px;
	top: 5509px;
	position: absolute;
	overflow: visible;
	width: 461px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
.Email___Vinaychaudhari1996gmai_Class {
	left: 471px;
	top: 5715px;
	position: absolute;
	overflow: visible;
	width: 325px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.linkdin_Class {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 597px;
	top: 5627px;
	overflow: visible;
}
.stack-overflow-orange_Class {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 652px;
	top: 5620px;
	overflow: visible;
}